Zimný semester:
<a href="/bcinf/DÚ1.html">DÚ1</a> ·
<a href="/bcinf/Prezentácia_1.html">Prezentácia 1</a> ·
<a href="/bcinf/Kontrolné_stretnutie_1.html">Kontrolné stretnutie 1</a><br>
<!-- Letný semester: [[DÚ3]] {{Dot}} [[Prezentácia 2]] {{Dot}}  [[Kontrolné stretnutie]] {{Dot}} [[Prezentácia 3]]<br>-->
<!-- Nezabudnite pdf prezentácie odovzdať do Moodlu aspoň hodinu pred začiatkom seminára, resp. kontrolného stretnutia.-->
Za 3 body zapíšte do pondelka 16.10. vášho školiteľa, tému a preferencie k prezentácii do <a href="https://moodle.uniba.sk/mod/assign/view.php?id=40950">Moodlu</a>.
